@function value($in, $device, $out: 'vw') {
  $str: '';
  @each $size in $in {
    @if $out == 'vw' {
      $str: #{ $str + ($size / ($device * 0.01)) + $out + ' ' };
    } @else {
      $str: #{ $str + $size + $out + ' ' };
    }
  }
  @return $str;
}

@function condition($if, $val, $default, $unit: none){
  $result: $if;

  @if $if == $val {
    $result: $default;
  }

  @if $unit != none {
    $result: $result + $unit;
  }

  @return $result
}