// Fonts
$FFamily: 'Open Sans', sans-serif;
$FZ: 16;
$FLight: 300;
$FReg: 400;
$FSemiB: 600;
$FBold: 700;
$FExtra: 800;

// colors
$color-white: #fff;
$color-black: #000;
$color-red: #f33;
$color-red-hover: #d23232;

$gray-900: #353535;
$gray-700: #565656;
$gray-500: #8d8d8d;
$gray-300: #cdcdcd;
$gray-100: #f8f8f8;

// URL
$url-font: '@~fonts/';
$url-img: '@~images/';

// Grid sizes
$xl: 1440;
$lg: 1200;
$md: 768;
$sm: 640;

// Border-radius
$brdzS: 4px;
$brdzM: 8px;
$brdzB: 12px;